body
{
background-color: lightsteelblue ;
}

h1
{
color: white;
}

p
{
color: white;
}

label
{
color: white;
}

#CapImg
 {
    background-color: steelblue;
    color: white;
 }

 #IdenImg
 {
    background-color: steelblue;
    color: white;
 }

 #Camera
 {
    height: 500px;
    width: 500px;
    border-color: white;
    border-style: dashed;
 }

 #result
 {
    height: 500px;
    width: 500px;
    border-color: white;
    border-style: dashed;
 }

